.expand-icon {
  cursor: pointer;
  color: blue;
}

.content-box {
  display: none;
  margin-top: 0.5rem;
}

.close-icon {
  cursor: pointer;
  float: right;
  color: red;
}
.para {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  /* or 115% */

  letter-spacing: -0.02em;

  /* P/2 */

  color: #0f0f0f;
}

.btn-all {
  width: 200px;
  height: 55px;
  left: 299px;

  /* P/4 */

  background: #495af0;
}
