.expand-icon {
  cursor: pointer;
  color: blue;
}

.content-box {
  display: none;
  margin-top: 0.5rem;
}

.close-icon {
  cursor: pointer;
  float: right;
  color: red;
}

.para {
  font-family: "Space Grotesk", sans-serif; /* Add a fallback font */
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  letter-spacing: -0.02em;
  color: #0f0f0f;
}

.btn-all {
  width: 200px;
  height: 55px;
  background: #495af0;
}
